In [12]:
import numpy as np
import pandas as pd

# Create the Series
first_series = pd.Series(list('abcdef'))
index_list = first_series.index.tolist()
print(index_list)

[0, 1, 2, 3, 4, 5]

In [10]:
import pandas as pd

# Read
df = pd.read_csv('titles.csv')
number_of_movies = len(df)
print("Number of movies:",number_of_movies)

Number of movies: 244914

In [13]:
import pandas as pd

# Read
df = pd.read_csv('titles.csv')
df = df.sort_values(by=['year'], ascending=True)
first_two_films = df.head(2)
print(first_two_films)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

In [14]:
import pandas as pd

# Read
titles_df = pd.read_csv('titles.csv')
hamlet_movies = titles_df[titles_df['title'] == 'Hamlet']
num_hamlet_movies = len(hamlet_movies)

print("Number of movies with the title 'Hamlet':", num_hamlet_movies)

Number of movies with the title 'Hamlet': 20

In [15]:
import pandas as pd

# Read 
titles_df = pd.read_csv('titles.csv')
north_by_northwest_movies = titles_df[titles_df['title'] == 'North by Northwest']
num_north_by_northwest_movies = len(north_by_northwest_movies)
print("Number of movies with the title 'North by Northwest':", num_north_by_northwest_movies)

Number of movies with the title 'North by Northwest': 1

In [18]:
import pandas as pd

# Read
titles_df = pd.read_csv('titles.csv')
hamlet_movies = titles_df[titles_df['title'] == 'Hamlet']
hamlet_movies = hamlet_movies.sort_values(by='year')
first_hamlet_movie = hamlet_movies.iloc[0]
first_hamlet_movie_year = first_hamlet_movie['year']
print("The first movie titled 'Hamlet' was made in:", first_hamlet_movie_year)

The first movie titled 'Hamlet' was made in: 1910

In [19]:
import pandas as pd

titles_df = pd.read_csv('titles.csv')

treasure_island_movies = titles_df[titles_df['title'] == 'Treasure Island']

treasure_island_movies = treasure_island_movies.sort_values(by='year')

for index, movie in treasure_island_movies.iterrows():
    print(movie['year'], movie['title'])

1918 Treasure Island
1920 Treasure Island
1934 Treasure Island
1950 Treasure Island
1972 Treasure Island
1973 Treasure Island
1985 Treasure Island
1999 Treasure Island

In [20]:
import pandas as pd

# Read the CSV file into a Pandas dataframe (if not already done)
titles_df = pd.read_csv('titles.csv')

# Filter the dataframe to include only movies released in the year 1950
movies_1950 = titles_df[titles_df['year'] == 1950]

# Get the count of movies made in 1950
num_movies_1950 = len(movies_1950)

print("Number of movies made in the year 1950:", num_movies_1950)

Number of movies made in the year 1950: 1113

In [21]:
import pandas as pd

# Read the CSV file into a Pandas dataframe (if not already done)
titles_df = pd.read_csv('titles.csv')

# Filter the dataframe to include only movies released in the year 1960
movies_1960 = titles_df[titles_df['year'] == 1960]

# Get the count of movies made in 1960
num_movies_1960 = len(movies_1960)

print("Number of movies made in the year 1960:", num_movies_1960)

Number of movies made in the year 1960: 1549

In [22]:
import pandas as pd

# Read the CSV file into a Pandas dataframe (if not already done)
titles_df = pd.read_csv('titles.csv')

# Filter the dataframe to include only movies released between 1950 and 1959 (inclusive)
movies_1950s = titles_df[(titles_df['year'] >= 1950) & (titles_df['year'] <= 1959)]

# Get the count of movies made from 1950 through 1959
num_movies_1950s = len(movies_1950s)

print("Number of movies made from 1950 through 1959:", num_movies_1950s)

Number of movies made from 1950 through 1959: 12934

In [23]:
import pandas as pd

# Read the CSV file into a Pandas dataframe (if not already done)
titles_df = pd.read_csv('titles.csv')

# Filter the dataframe to include only movies with the title "Batman"
batman_movies = titles_df[titles_df['title'] == 'Batman']

# Get the unique release years for movies titled "Batman"
batman_release_years = batman_movies['year'].unique()

print("Years in which a movie titled 'Batman' has been released:", batman_release_years)

Years in which a movie titled 'Batman' has been released: [1943 1989]

In [24]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only the cast of the movie "Inception"
inception_cast = cast_df[cast_df['title'] == 'Inception']

# Count the number of unique roles in the movie "Inception"
num_roles_in_inception = len(inception_cast['character'].unique())

print("Number of roles in the movie 'Inception':", num_roles_in_inception)

Number of roles in the movie 'Inception': 56

In [25]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only the cast of the movie "Inception" without an "n" value
inception_cast_no_n = cast_df[(cast_df['title'] == 'Inception') & cast_df['n'].isnull()]

# Count the number of roles in the movie "Inception" that are not ranked by an "n" value
num_roles_in_inception_no_n = len(inception_cast_no_n)

print("Number of roles in the movie 'Inception' not ranked by 'n' value:", num_roles_in_inception_no_n)

Number of roles in the movie 'Inception' not ranked by 'n' value: 27

In [26]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only the cast of the movie "Inception" with an "n" value
inception_cast_with_n = cast_df[(cast_df['title'] == 'Inception') & cast_df['n'].notnull()]

# Count the number of roles in the movie "Inception" that received an "n" value
num_roles_in_inception_with_n = len(inception_cast_with_n)

print("Number of roles in the movie 'Inception' with an 'n' value:", num_roles_in_inception_with_n)

Number of roles in the movie 'Inception' with an 'n' value: 51

In [27]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only the cast of the movie "North by Northwest" with numeric "n" values
north_by_northwest_cast = cast_df[(cast_df['title'] == 'North by Northwest') & cast_df['n'].notnull()]

# Sort the filtered dataframe by the "n" values in ascending order
north_by_northwest_cast_sorted = north_by_northwest_cast.sort_values(by='n')

# Display the cast of "North by Northwest" in their correct "n"-value order
print(north_by_northwest_cast_sorted[['n', 'name', 'character']])

            n                  name                    character
871426    1.0            Cary Grant           Roger O. Thornhill
3518333   2.0       Eva Marie Saint                  Eve Kendall
1457165   3.0           James Mason              Phillip Vandamm
3157232   4.0   Jessie Royce Landis              Clara Thornhill
356707    5.0        Leo G. Carroll                The Professor
3048272   6.0  Josephine Hutchinson                Mrs. Townsend
1695173   7.0           Philip Ober              Lester Townsend
1275337   8.0         Martin Landau                      Leonard
2447081   9.0         Adam Williams                     Valerian
1811387  10.0          Edward Platt              Victor Larrabee
665768   11.0     Robert Ellenstein                        Licht
2295714  12.0          Les Tremayne                   Auctioneer
464736   13.0       Philip Coolidge                    Dr. Cross
1508344  14.0         Patrick McVey               Sergeant Flamm
206471   15.0          Edward Binns               Captain Junket
1384780  16.0             Ken Lynch  Charley - Chicago Policeman

In [28]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only the cast of the movie "Sleuth" released in 1972
sleuth_1972_cast = cast_df[(cast_df['title'] == 'Sleuth') & (cast_df['year'] == 1972)]

# Sort the filtered dataframe by the "n" values in ascending order
sleuth_1972_cast_sorted = sleuth_1972_cast.sort_values(by='n')

# Display the entire cast of the 1972 film "Sleuth" in "n"-value order
print(sleuth_1972_cast_sorted[['n', 'name', 'character']])

           n                name                   character
1705394  1.0    Laurence Olivier                 Andrew Wyke
326773   2.0       Michael Caine                 Milo Tindle
373876   3.0      Alec Cawthorne           Inspector Doppler
1465483  4.0  John (II) Matthews  Detective Sergeant Tarrant
2724553  5.0  Eve (III) Channing             Marguerite Wyke
1448690  6.0        Teddy Martin      Police Constable Higgs

In [29]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only the cast of the 2007 version of the movie "Sleuth"
sleuth_2007_cast = cast_df[(cast_df['title'] == 'Sleuth') & (cast_df['year'] == 2007)]

# Sort the filtered dataframe by the "n" values in ascending order
sleuth_2007_cast_sorted = sleuth_2007_cast.sort_values(by='n')

# Display the entire cast of the 2007 version of "Sleuth" in "n"-value order
print(sleuth_2007_cast_sorted[['n', 'name', 'character']])

           n                 name          character
326774   1.0        Michael Caine             Andrew
1293634  2.0             Jude Law               Milo
1805907  3.0        Harold Pinter        Man on T.V.
260242   NaN      Kenneth Branagh  Other Man on T.V.
373877   NaN  Alec (II) Cawthorne  Inspector Doppler
2724552  NaN    Eve (II) Channing    Marguerite Wyke
3370424  NaN    Carmel O'Sullivan             Maggie

In [30]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only the cast of the silent 1921 version of "Hamlet"
hamlet_1921_cast = cast_df[(cast_df['title'] == 'Hamlet') & (cast_df['year'] == 1921)]

# Count the number of credited roles in the silent 1921 version of "Hamlet"
num_roles_hamlet_1921 = len(hamlet_1921_cast)

print("Number of credited roles in the silent 1921 version of 'Hamlet':", num_roles_hamlet_1921)

Number of credited roles in the silent 1921 version of 'Hamlet': 9

In [31]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only the cast of Kenneth Branagh's 1996 version of "Hamlet"
branagh_hamlet_cast = cast_df[(cast_df['title'] == 'Hamlet') & (cast_df['year'] == 1996)]

# Count the number of credited roles in Branagh's 1996 version of "Hamlet"
num_roles_branagh_hamlet = len(branagh_hamlet_cast)

print("Number of credited roles in Branagh's 1996 'Hamlet':", num_roles_branagh_hamlet)

Number of credited roles in Branagh's 1996 'Hamlet': 54

In [32]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only the cast of all versions of "Hamlet"
hamlet_roles = cast_df[cast_df['title'] == 'Hamlet']

# Count the number of "Hamlet" roles in all film credits through history
num_hamlet_roles = len(hamlet_roles)

print("Number of 'Hamlet' roles listed in all film credits through history:", num_hamlet_roles)

Number of 'Hamlet' roles listed in all film credits through history: 342

In [33]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only actors who played the role of "Ophelia"
ophelia_actors = cast_df[cast_df['character'] == 'Ophelia']

# Count the number of people who have played the role of "Ophelia"
num_ophelia_actors = len(ophelia_actors['name'].unique())

print("Number of people who have played the role of 'Ophelia':", num_ophelia_actors)

Number of people who have played the role of 'Ophelia': 115

In [34]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only actors who played a role called "The Dude"
the_dude_actors = cast_df[cast_df['character'] == 'The Dude']

# Count the number of people who have played a role called "The Dude"
num_the_dude_actors = len(the_dude_actors['name'].unique())

print("Number of people who have played a role called 'The Dude':", num_the_dude_actors)

Number of people who have played a role called 'The Dude': 19

In [35]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only actors who played a role called "The Stranger"
the_stranger_actors = cast_df[cast_df['character'] == 'The Stranger']

# Count the number of people who have played a role called "The Stranger"
num_the_stranger_actors = len(the_stranger_actors['name'].unique())

print("Number of people who have played a role called 'The Stranger':", num_the_stranger_actors)

Number of people who have played a role called 'The Stranger': 202

In [36]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only roles played by Sidney Poitier
sidney_poitier_roles = cast_df[cast_df['name'] == 'Sidney Poitier']

# Count the number of roles played by Sidney Poitier throughout his career
num_sidney_poitier_roles = len(sidney_poitier_roles)

print("Number of roles played by Sidney Poitier throughout his career:", num_sidney_poitier_roles)

Number of roles played by Sidney Poitier throughout his career: 43

In [37]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only roles played by Judi Dench
judi_dench_roles = cast_df[cast_df['name'] == 'Judi Dench']

# Count the number of roles played by Judi Dench
num_judi_dench_roles = len(judi_dench_roles)

print("Number of roles played by Judi Dench:", num_judi_dench_roles)

Number of roles played by Judi Dench: 55

In [38]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only supporting roles (n=2) played by Cary Grant in the 1940s
cary_grant_supporting_roles_1940s = cast_df[(cast_df['name'] == 'Cary Grant') & (cast_df['n'] == 2) & (cast_df['year'] >= 1940) & (cast_df['year'] <= 1949)]

# Sort the filtered dataframe by year
cary_grant_supporting_roles_1940s_sorted = cary_grant_supporting_roles_1940s.sort_values(by='year')

# Display the supporting roles played by Cary Grant in the 1940s in order by year
print(cary_grant_supporting_roles_1940s_sorted[['year', 'title']])

        year             title
871423  1940  My Favorite Wife
871433  1941    Penny Serenade

In [39]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only leading roles (n=1) played by Cary Grant in the 1940s
cary_grant_leading_roles_1940s = cast_df[(cast_df['name'] == 'Cary Grant') & (cast_df['n'] == 1) & (cast_df['year'] >= 1940) & (cast_df['year'] <= 1949)]

# Sort the filtered dataframe by year
cary_grant_leading_roles_1940s_sorted = cary_grant_leading_roles_1940s.sort_values(by='year')

# Display the leading roles played by Cary Grant in the 1940s in order by year
print(cary_grant_leading_roles_1940s_sorted[['year', 'title']])

        year                                 title
871448  1940               The Howards of Virginia
871407  1940                       His Girl Friday
871450  1940                The Philadelphia Story
871438  1941                             Suspicion
871452  1942                  The Talk of the Town
871429  1942                 Once Upon a Honeymoon
871398  1943                     Destination Tokyo
871422  1943                             Mr. Lucky
871430  1944                      Once Upon a Time
871390  1944                  Arsenic and Old Lace
871425  1944             None But the Lonely Heart
871424  1946                         Night and Day
871427  1946                             Notorious
871444  1947      The Bachelor and the Bobby-Soxer
871445  1947                     The Bishop's Wife
871421  1948  Mr. Blandings Builds His Dream House
871402  1948          Every Girl Should Be Married
871411  1949                I Was a Male War Bride

In [40]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only roles from the 1950s
roles_in_1950s = cast_df[(cast_df['year'] >= 1950) & (cast_df['year'] <= 1959)]

# Count the number of roles available for actors in the 1950s
num_roles_in_1950s = len(roles_in_1950s)

print("Number of roles available for actors in the 1950s:", num_roles_in_1950s)

Number of roles available for actors in the 1950s: 215471

In [41]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only roles for actresses from the 1950s
actress_roles_in_1950s = cast_df[(cast_df['year'] >= 1950) & (cast_df['year'] <= 1959) & (cast_df['type'] == 'actress')]

# Count the number of roles available for actresses in the 1950s
num_actress_roles_in_1950s = len(actress_roles_in_1950s)

print("Number of roles available for actresses in the 1950s:", num_actress_roles_in_1950s)

Number of roles available for actresses in the 1950s: 57733

In [42]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only leading roles (n=1) from the beginning of film history through 1980
leading_roles_until_1980 = cast_df[(cast_df['n'] == 1) & (cast_df['year'] <= 1980)]

# Count the number of leading roles available from the beginning of film history through 1980
num_leading_roles_until_1980 = len(leading_roles_until_1980)

print("Number of leading roles (n=1) available from the beginning of film history through 1980:", num_leading_roles_until_1980)

Number of leading roles (n=1) available from the beginning of film history through 1980: 65140

In [43]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only non-leading roles (n is not equal to 1) from the beginning of film history through 1980
non_leading_roles_until_1980 = cast_df[(cast_df['n'] != 1) & (cast_df['year'] <= 1980)]

# Count the number of non-leading roles available from the beginning of film history through 1980
num_non_leading_roles_until_1980 = len(non_leading_roles_until_1980)

print("Number of non-leading roles (n is not equal to 1) available from the beginning of film history through 1980:", num_non_leading_roles_until_1980)

Number of non-leading roles (n is not equal to 1) available from the beginning of film history through 1980: 1117667

In [44]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only roles through 1980 with no numeric "n" rank
roles_without_n_rank_until_1980 = cast_df[(cast_df['n'].isnull()) & (cast_df['year'] <= 1980)]

# Count the number of roles through 1980 that did not have a numeric "n" rank
num_roles_without_n_rank_until_1980 = len(roles_without_n_rank_until_1980)

print("Number of roles through 1980 without a numeric 'n' rank:", num_roles_without_n_rank_until_1980)

Number of roles through 1980 without a numeric 'n' rank: 448347